@import './variables';

// Components like Button, Card, Input, etc

// Buttons

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 18px;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($background-color, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($background-color, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn-base {
  border-radius: 8px;
  padding: 25px 43px;
  font-size: 18px;
  line-height: 18px;
  border: none;
  font-family: inherit; //firefox changing the font
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-yellow {
  background-color: $yellow;
  color: $blue-dark-color;
}

.btn-green-pale {
  background-color: $green-pale-color;
  color: $blue-dark-color;
}


// Input 

.form-input img {
  position: absolute;
}

.form-input i {
  position: absolute;
}
  
.form-input {
  width: 100%;
  margin-bottom: 10px;
}
  
.icon {
  padding: 22px;
  color: green;
  text-align: center;
}
  
.input-field {
  width: 100%;
  padding: 25px 25px;
  text-align: start;
  background-color: #0F2F31;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  border: none;
  padding-left: 75px;
}
  
