$background-color : #134148;
$background-color-light : #F2EEE5;
$background-shade : #2B666C;
$white: #fff;
$green: #00966B;
$green-pale-color : #D9EBD1;
$yellow : #FEC85B;
$orange : #FF925A;
$card-color : #092C2E;
$blue-dark-color : #133E44; 

