@import '../assets/scss/variables';

.c-homepage{
  font-family: 'Montserrat', sans-serif;

  #header {
    background-color: $background-color;
  }
  #hero {
    background-color: $background-color;
    padding-bottom: 10em;
  }
  #banner {
    background-color: $background-color-light;
  }

  #requestdemo {
    background-color: $yellow;
  }

  #howitwork { 
    background-color: $background-color;
  }

  #payme {
    background-color: $background-color-light;
  }

  #footer {
    background-color: $background-color;
  }

}