@import '../assets/scss/variables';

.c-homepage{
  font-family: 'Montserrat', sans-serif;
  #header {
    background-color: $background-color;
  }
  #hero {
    background-color: $background-color;
    padding-bottom: 10em;
  }
}