.c-banner {
  position: relative;
  height: 1400px;
  .banner {
    &-title-container {
      display: flex;
      align-content: center;
      justify-content: center;
    }
    &-title{
      color: #131523;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 60%;
      text-align: center;
    }

    &-placeholder {
      
      // overflow: hidden;
    }

    &-shadow {
      position: absolute;
      z-index: 2;
      top: 30%;
      left: 35%;
      width: 35%;
    }

    &-line {
      position: absolute;
      z-index: 1;
      top: 30%;
      left: 0;
      width: 100%;
    }

    &-arrow {
      position: absolute;
      z-index: 1;
      width: 15%;
      bottom: 20%;
      left: 8%;
    }

    &-sparkle{
      position: absolute;
      z-index: 1;
      width: 10%;
      right: 8%;
      top: 20%;
    }

    &-person {
      position: absolute;
      z-index: 3;
      width: 30%;
      top: 21%;
      left: 37%;
    }

    &-mc {
      position: absolute;
      z-index: 2;
      top: 30%;
      right: 28%;
    }

    &-visa {
      position: absolute;
      z-index: 4;
      bottom: 10%;
      right: 40%;
    }

    &-paypal {
      position: absolute;
      z-index: 2;
      right: 10%;
      bottom: 4%;
    }

    &-services {
      position: absolute;
      z-index: 3;
      right: 8%;
      bottom: 43%;
    }

    &-circle-orange {
      position: absolute;
      z-index: 2;
      width: 10%;
      background-color: #E87E4B;
    }
  }
}