.c-footer {
  padding-top: 10rem;
  padding-bottom: 10rem;

  .footer{
    &-main{
      display: flex;
    }

    &-left {
      width: 60%;
    }

    &-right {
      width: 40%;
    }

    &-title {
      color: white;
      & > span {
        color: #FEC85B
      }
    }

    &-desc {
      color: #DDDDDD;
    }

    &-social {
      display: table;
      border-spacing: 20px 0;
      margin-left: -20px;

      &-circle {
        height: 49px;
        width: 49px;
        background-color: #FEC85B;
        border-radius: 50%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }

    &-input {
      display: flex;
      row-gap: 20px;
      flex-direction: column;
    }

    &-button {
      display: flex;
      justify-content: end;
    }

    &-logo {
      display: flex;
      align-items: center;
      column-gap: 2%;
      & > p {
        color: white;
      }
      & > img {
        height: 60px;
      }
    }
  }
}

