.c-hiw {
  display: flex;
  padding-top: 110px;
  padding-bottom: 110px;
  .hiw{
    &-left{
      display: flex;
      flex-grow: 3;
      justify-content: center;
      position: relative;
    }

    &-anchor {
      position: absolute;
      left: -20%;
      bottom: -20%;
    }

    &-highlight{
      position: absolute;
      right: -10%;
      top: -24%;
    }

    &-right{
      flex-grow: 4;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      flex-basis: 50%;
      column-gap: 10%;
      row-gap: 15%;
      align-content: center;
    }

    &-square {
      color: white;
      display: flex;
      height: 313px;
      width: 318px;
      padding: 50px 42px;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(137.33deg, #FEC85B -10.79%, #DB7747 75.77%, #1CBD00 149.02%);
      border-radius: 16px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,#DB7747 0px 30px 60px -30px;
    }

    &-option {
      display: flex;
      color: white;
      gap: 16px;
    }

    &-data-title{
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
    }

    &-data-content{
      font-size: 18px;
    }

  }
  
}